@forward "index.top-first-view";
@forward "index.top-about";
@forward "index.top-form";
@forward "index.top-blog";
@forward "index.plan";
@forward "index.blog-list";
@forward "index.blog-details-main";
@forward "index.blog-details-side";
@forward "index.contact-form";
@forward "index.contact-send";
@forward "index.page-404";
@forward "index.search";
@forward "index.result-list";
@forward "index.result-details";
