@use "variable" as *;

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  word-break: break-all;
  font-size: 62.5%;
}

body {
  font-family: $font-family-base;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  @include sp {
    font-size: 1.4rem;
  }
}

/* PC、SPの非表示 */
@include sp {
  .pc {
    display: none !important;
  }
}
@include pc {
  .sp {
    display: none !important;
  }
}

img {
  width: 100%;
}

#container {
  width: 100%;
  overflow: hidden;
}

.inner {
  max-width: 1000px;
  // width: min(vw(1000), 1000px);
  margin: 0 auto;
  @include sp {
    max-width: 500px;
  }
}
