//フォント
$font-family-base: "YuGothic", "Yu Gothic", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;

@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 768px) {
    @content;
  }
}

@function vw($pixelSize, $baseWidth: 1080) {
  @return calc($pixelSize / $baseWidth * 100vw);
}